//Sitewide layout

body{
	width: 100%;
	height: 100%;
	background-color: $grey;
}

nav{
	height: 50px;
	background-color: $black;

	ul{
		list-style: none;
		margin: 0 auto;
		text-align: center;
		padding: 15px;

		li{
			display: inline;

			a{
				color: $white;
				text-decoration: none;
				margin: 15px;
			}

			a:hover{
				background-color: $white;
				color: $black;
			}
		}
	}
}

input{
	float: right;
}

.clear{
	clear: both;
}

.topEllipsis{
	background-image: url("../images/topLeft.png");
	width: 307px;
	height: 299px;
	position: absolute;
}

.bottomEllipsis{
	background-image: url("../images/bottomRight.png");
	width: 307px;
	height: 307px;
	top: 603px;
	position: absolute;
	margin: 0 0 0 373px;
}

.logoWrapper{
	width: 100%;
	height: 44px;
	padding: 23px 0;
	background-color: $white;
}

#logo{
	background-image: url("../images/logo.png");
	width: 206px;
	height: 44px;
	margin: 0 auto;
}

.wrapper{
	width: 1024px;
	background-color: $lightgrey;
	margin: 0 auto;
}

.sectionOne,
.sectionTwo{
	width: 100%;
	min-height: 385px;
	display: inline-block;
	background-color: $lightgrey;
}

.leftContent{
	width: 680px;
	float: left;

	h2, p{
		padding: 0 30px 8px;
	}
}

.rightContent{
	width: 344px;
	float: left;
	text-align: center;
}

.fullWidth{
	width: 100%;
	height: 160px;
}

.iPadLeft{
	width: 130px;
	float: left;
	display: inline-block;
	padding-left: 30px;
}

.iPadRight{
	width: 839px;
	float: right;
	display: inline-block;
	padding-right: 25px;
}

#introText{
	width: 264px;
	padding: 60px 40px;
}

.signUp{
	margin-top: 50px;

	.inputTitle{
		float: left;
		margin-bottom: 20px;
	}

	.contactDetails{
		max-width: 180px;
		margin-bottom: 15px;
	}

	.terms{
		font-size: 12px;
		display: inline-block;
		float: left;
		margin-top: 5px;
	}

	.termsBox{
		margin-top: 5px;
	}

	.button{
		margin-top: 5px;

		input{
			width: 100%;
			background-color: $black;
			color: $white;
			border: none;
			padding: 10px;
		}
	}
}

.socialIcons{
	float: left;
	font-weight: bold;
	font-size: 15px;
	margin: 20px 0 0 12px;

	.facebook{
		background-image: url("../images/socialFacebook.png");
		display: inline-block;
		width: 36px;
		height: 36px;
		margin: 0 5px 0 9px;
	}

	.instagram{
		background-image: url("../images/socialInstagram.png");
		display: inline-block;
		width: 35px;
		height: 36px;
		margin: 0 5px 0 0;
	}

	.twitter{
		background-image: url("../images/socialTwitter.png");
		display: inline-block;
		width: 36px;
		height: 36px;
	}
}

footer{
	width: 100%;
	height: 14px;
	text-align: center;
	padding: 18px 0;
}